<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
		<link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
		<link rel="stylesheet" href="style.css">
		<link rel="shortcut icon" type="image/png" href="logo.png"/>
    	<title>Ticket Dashboard</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" href="#">
				<img src="logo.svg" width="24" height="24">
			</a>
			<p class="header navbar-brand mr-auto">Ticket Dashboard</p>
			{% if data != None %}
			<p class="header navbar-brand" style="font-weight: normal">Block #{{ data.blockheight }}</p>
			{% endif %}
		</nav>

		<main role="main" style="padding: 4rem; padding-top: 5rem" class="col-sm-9 col-md-12">
			{% if not data %}
			
			<div class="alert alert-danger" role="alert">
				Error: could not connect to the RPC server. Is ticketd running?	
			</div>

			{% else %}

			<section class="row text-center placeholders">
				<!-- Live -->
				<div class="col-6 col-sm-2 placeholder">
					<div class="circle-wrapper">
						<img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mPUL/39HwAFGgKgh8dT1AAAAABJRU5ErkJggg==" width="150" height="150" class="img-fluid rounded-circle">
						<span class="ticket-count">6</span>
					</div>
					<h6 class="text-muted">Live Tickets</h6>
			  	</div>

				<!-- Voted -->
				<div class="col-6 col-sm-2 placeholder">
					<div class="circle-wrapper">
						<img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mO0vr7kPwAFwgK32X/5swAAAABJRU5ErkJggg==" width="150" height="150" class="img-fluid rounded-circle">
						<span class="ticket-count">6</span>
					</div>
					<h6 class="text-muted">Voted Tickets</h6>
				</div>

				<!-- Mempool -->
				<div class="col-6 col-sm-2 placeholder">
					<div class="circle-wrapper">
						<img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mPMu/rlPwAHKAM4F7aMPgAAAABJRU5ErkJggg==" width="150" height="150" class="img-fluid rounded-circle">
						<span class="ticket-count">6</span>
					</div>
					<h6 class="text-muted">Mempool Tickets</h6>
				</div>

				<!-- Immature -->
				<div class="col-6 col-sm-2 placeholder">
					<div class="circle-wrapper">
						<img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mMsb+n7DwAFjQKK4d7zbQAAAABJRU5ErkJggg==" width="150" height="150" class="img-fluid rounded-circle">
						<span class="ticket-count">6</span>
					</div>
					<h6 class="text-muted">Immature Tickets</h6>
				</div>
			  
				<!-- Expired -->
				<div class="col-6 col-sm-2 placeholder">
					<div class="circle-wrapper">
						<img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mMUMfD6DwACfQGPlr1m1AAAAABJRU5ErkJggg==" width="150" height="150" class="img-fluid rounded-circle">
						<span class="ticket-count">6</span>
					</div>
					<h6 class="text-muted">Expired Tickets</h6>
				</div>

				<!-- Missed -->
				<div class="col-6 col-sm-2 placeholder">
					<div class="circle-wrapper">
						<img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mPco87wHwAEbgHkzzykhgAAAABJRU5ErkJggg==" width="150" height="150" class="img-fluid rounded-circle">
						<span class="ticket-count">6</span>
					</div>
					<h6 class="text-muted">Missed Tickets</h6>
				</div>
			</section>
  
			<div class="table-responsive" style="padding-top: 3rem">
			  <table class="table table-dark table-striped">
				<thead>
				  <tr>
					<th>Ticket ID</th>
					<th>Status</th>
					<th>Price</th>
					<th>Fee</th>
					<th>Start Date</th>
					<th>Age</th>
					<th>End Date</th>
					<th>Reward</th>
					<th>ROI (%)</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>4</td>
					<td>5</td>
					<td>6</td>
					<td>7</td>
					<td>8</td>
					<td>9</td>
				  </tr>
				</tbody>
			  </table>
			</div>
			{% endif %}

		</main>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
	</body>
</html>
